<style>
  .player-list {
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 8rem;
    overflow-y: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  .player-list::-webkit-scrollbar {
    display: none;
  }

  .player-list-table {
    cursor: pointer;
  }
</style>
{% load list_tags %}
<thead>
  <tr>
    <th scope="col">#</th>
    <th>Tournament</th>
    <th>Category</th>
    <th>School</th>
    <th>Wins</th>
    <th>Draws</th>
    <th>Losses</th>
    <th>Team Number</th>
    <th>Players</th>
    <th></th>
    <th></th>
    <!-- <th></th> -->
  </tr>
</thead>
<tbody class="align-middle">
  {% for object in object_list %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{object.tournament}}</td>
    <td>{{object.category}}</td>
    <td>{{object.school}}</td>
    <td>{{object.wins}}</td>
    <td>{{object.draws}}</td>
    <td>{{object.losses}}</td>
    <td>{{object.team_num}}</td>
    <td>
      <table class="table mb-0 table-light player-list-table">
        <tbody>
          {% for player in object.players.all %}
          <tr>
            <td class="player-list">{{player}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </td>
    <td>
      <a
        type="button"
        class="btn btn-primary btn-sm"
        href="{% url 'edit_team' object.id %}"
        >Edit</a
      >
    </td>
    <!-- <td>
      <a
        type="button"
        class="btn btn-primary btn-sm"
        href="{% url 'add_player' object.id %}"
        >Add Player</a
      >
    </td> -->
    <td>
      <a
        type="button"
        class="btn btn-primary btn-sm"
        href="{% url 'details_player' object.id %}"
        >View Players</a
      >
    </td>
  </tr>
  {% endfor %}
</tbody>
