{% extends "Tournament/layout.html" %} {% block body %}
<style>
  .pagination > li > a {
    background-color: white;
    color: #5a4181;
  }

  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > span:focus,
  .pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
  }

  .pagination > .active > a {
    color: white;
    background-color: #5a4181 !important;
    border: solid 1px #5a4181 !important;
  }

  .pagination > .active > a:hover {
    background-color: #5a4181 !important;
    border: solid 1px #5a4181;
  }
</style>

<!-- prettier-ignore -->

<div
  class="container-fluid text-center my-5"
>
  <h1 class="display-6">{{title}} Details</h1>
  <table class="table table-dark table-striped table-bordered">
    {% include inner_template %}
  </table>
  {% if add_url %}
    <a
      type="button"
      class="btn btn-outline-primary"
      {% if add_url_parameter %}
        href="{% url add_url add_url_parameter %}"
      {% else %}
        href="{% url add_url %}"
      {% endif %}
      >Add {{title}}</a
    >
  {% endif %}
</div>

<div class="container-sm">
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg justify-content-end">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.previous_page_number }}"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      <!-- prettier-ignore -->
      {% if page_obj.number|add:"-1" > 0 %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.number|add:'-1'}}">
          {{page_obj.number|add:"-1" }}
        </a>
      </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="?page={{ page_obj.number }}"
          >{{ page_obj.number }}</a
        >
      </li>
      {% if page_obj.paginator.num_pages >= page_obj.number|add:"1" %}

      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.number|add:'1'}}">
          {{page_obj.number|add:"1"}}
        </a>
      </li>
      {% endif %} {% if page_obj.has_next %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ page_obj.next_page_number }}"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock %}
